# PDF parsing
pdfminer.six
pypdf

# vector search
faiss-cpu
numpy
scikit-learn

# embeddings
sentence-transformers

# reranker
transformers
torch

# Graph database
neo4j
networkx

# NLP
spacy

# GUI
PySide6

# utilities
tqdm
pandas
python-dotenv
loguru

# async / http
requests
aiohttp